/*************************************************************************************
*  FOOTER
*
*
*
**************************************************************************************/

footer {
  position: static;
  display: block;
  margin-top: 1rem;
  clear: both;
  margin-bottom: 0 !important;
  width: 100% !important;
  background: $header-background;
  border-top: $bdr-cb;
  border-right: $bdr-cr;
  border-left: $bdr-cl;
  align-content: flex-end;
  align-items: center;
  font-family: $ff-title;

  h3 {
    color: $gray1;
    background: $white;
    width: 30%;
    margin: 0;
    margin-left: 35%;
    text-align:center;
    font-size: 2rem !important;
    padding: 0;

  }


    @include for-size(desktop) {
      font-size: 2rem !important;
      margin-left: 35%;
      margin-right: 35%;
    }

    @include for-size(tablet-landscape) {
      font-size: 2rem;
    }

    @include for-size(phone-only) {
      font-size: 1rem !important;
      margin-left: 55%;
    }
  }

