/*************************************************************************************
*  HEADER
*
*
*
**************************************************************************************/


nav {
  border-right: $bdr-nr;
  border-left: $bdr-nl;
  border-bottom: $bdr-nb;
  background: $header-background;
  margin: 0 !important;
  padding: 0;
  clear: both;
  font-family: $ff-title;

  display: block !important;
  @include for-size(tablet-landscape) {
    padding: 3rem;
  }
  @include for-size(tablet-portrait) {
  }
  @include for-size(phone-only) {
    margin-bottom: 3rem;
    margin-top: 0;
    width: 100% !important;
    padding: 1rem;
    display: inline-grid;
  }
}
.links {
  float: right;
  margin: 0;
  position: relative;
  font-family: $ff-title;
  .nav-btn {
    width: 20rem !important;
    font-size: 2.25rem;
  }
}

.navbar-brand {
  color: $white;
  font-weight: 900;
  font-family: $ff-title;
  display: inline-block !important;
  font-size: 2.25rem !important;
    padding: 0.75rem !important;
  a {
    @extend %btn-1;
    width: 100%;
  }
  a:hover {
    @extend %btn-3;
  }
  @include for-size(tablet-landscape) {
    font-size: 1.95rem;
    margin-bottom: 3rem;
    font-weight:900;
    width: 85%;
    margin-left: 5%;
  }
  @include for-size(tablet-portrait) {
    padding: 0;
    margin-top: 0;
    display: none !important;
    font-size: 1.25rem;
  }
  @include for-size(phone-only) {
    margin-top: 0;
    display: none;
    padding: 0;
  }
}
