//Creates templates for consistently used components



//Font Templates

%prose {
  font-family: $font;
  color: $font-color;
  background-color: $white;
}

%resume-title {
  color: $white !important;
  background: $blue;
  padding:1%;
  font-family: $title-font-alt !important;
  float:left;
}
%resume-subtitle {
  color: $white !important;
  background: $blue;
  font-family: $title-font-alt !important;
  font-size:2.5rem;
  border-bottom: 1rem $gray1 solid;
}
%resume-basics-btn {
  background: $gray1;
  color: $white;
  border: 0.25rem solid $gray1;
  font-size: 1.75rem;
  font-family: $style-font-alt1;
  border-radius: 10px;
  font-weight: 600;
}
%resume-basics-btn-hover {
  text-decoration: none;
  background: $blue;
  color:$white;
  border: 0.25rem solid $blue;
  font-size: 1.75rem;
  font-family: $style-font-alt1;
  border-radius: 10px;
  font-weight: 600;
}

/*
* Buttons
*/

%btn-1 {
  @extend %prose;
  letter-spacing: 3px;
  border: $gray1 solid 0.4rem;
  padding: 0;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 900 !important;
  background: linear-gradient(
                  -35deg,
                  #4df 10%,
                  #4df 20%,
                  #68b6e3 35%,
                  #80bdff 45%,
                  #68b6e3 55%,
                  #86cfda 65%,
                  #4df 76%
  );
  text-align: center;
  color: $white !important;
}
%btn-2 {
  border: $gray1 solid 0.4rem;
  color: $blue;
}
%btn-3 {
  border: $gray3 solid 0.4rem;
  color: $white !important;
  background: linear-gradient(
                  -35deg,
                  #4df 10%,
                  #4df 20%,
                  #68b6e3 35%,
                  #80bdff 45%,
                  #68b6e3 55%,
                  #86cfda 65%,
                  #4df 76%
  );
}

%btn-4 {
  color: $white;
  background: $gray1;
}

%btn-5 {
  background: $header-background;
  color: $gray1;
}

%title {
  background: $white;
  font-size: 10rem;
  width: 60%;
  margin-left: 20%;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: $blue;
  font-family: $style-font;

  @include for-size(tablet-landscape) {
    font-size: 6rem;
    width: 80%;
    margin-left: 10%;
  }
  @include for-size(tablet-portrait) {
    font-size:4rem;
    margin:0;
  }
  @include for-size(phone-only) {
    font-size:2.7rem;
    width: 100%;
    margin:0;
  }
}

%subtitle {
  background: $white;
  font-size: 6rem;
  margin-left: 8%;
  width: 53%;
  text-align: center;
  color: $blue;
  font-family: $title-font-alt2;

  @include for-size(tablet-landscape) {
    font-size: 3.2rem;
    width: 80%;
    margin-left: 10%;
  }
  @include for-size(tablet-portrait) {
    font-size:3rem;
  }
  @include for-size(phone-only) {
    display:none;
  }
}
