/*********************************************************************
*  BUTTON
*
*
*
*  Defines the button classes
*  ------------------------------------------------------------------
*  Markup:
*  -------
*
*  <button class="button">Button</button>
*  <button class="button button--big">Button +</button>
*  <button class="button button--secondary">Button 2</button>
*  <button className="nav-btn"> Button 3 </button>
*
 *******************************************************************/


// reset default buttons
button {
  cursor: pointer;
  border-radius: 10px;
  background-color: $bg-button;
  border-radius: $bdr-button;
  color: $c-button;
  display: inline-block;
  font-family: $ff-button;
  font-size: $fz-button;
  font-weight: $fw-button;
  line-height: $lh-button;
  margin: $m-button;
  padding: $p-button;
  text-align: center;
  text-decoration: none;
  text-transform: $tt-button;
  transition: opacity .2s ease-in-out;
  white-space: nowrap;
  border: $bdr-button;
  &:focus,
  &:hover,
  &:active {
    color: $c-button;
    border: $bdr-button-hover;

  }

  &:hover {
    background-color: rgba($primary, .8);
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }

  &:active {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  // sizes
  &--big {
    font-size: $fz-button-big;
    padding: $p-button-big;
  }

  &--small {
    font-size: $fz-button-small;
    padding: $p-button-small;
  }

  &--mobileFull {
    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  // colors
  &--secondary {
    background-color: $secondary;
    color: $white;

    &:hover {
      background-color: rgba($secondary, .8);
      color: $white;
    }
  }

  &--white {
    background-color: $white;
    color: $primary;

    &:hover {
      background-color: rgba($white, .8);
      color: rgba($primary, .8);
    }
  }

  &--green {
    background-color: $success;
    color: $white;

    &:hover {
      background-color: rgba($success, .8);
      color: $white;
    }
  }

  &--red {
    background-color: $error;
    color: $white;

    &:hover {
      background-color: rgba($error, .8);
      color: $white;
    }
  }

  &--transparent {
    background-color: transparent;
    color: $c-button-transparent;

    &:active,
    &:hover,
    &:focus {
      background-color: transparent;
      color: rgba($c-button-transparent, .8);
      opacity: .8;
    }
  }

  &--outlined {
    background-color: transparent;
    border: $bd-medium;
    color: $c-button-outlined;

    &:active,
    &:hover,
    &:focus {
      background-color: transparent;
      color: rgba($c-button-outlined, .8);
      opacity: .8;
    }
  }
}



.social-button{
  color: $white;
margin:1rem;
  border-radius: 25px;
padding: 0;
  width: 100%;

  &:hover{
border:$primary solid 0.5rem;
margin:0;
padding:0;}
  button{
    padding: 0;
    width: 25%;
    background: $white;
    &:hover{
      background: $background;
      color:$white !important;
       padding: 0;
    width:25%;
    height: inherit;
    width: 25%;}
  }
}
#linkedin {
  color: $linkedin;
  &:hover{
    background: $background;
    color:$white !important;
    margin: 0;
    padding: 0;}}

  #instagram {
    color: $instagram;
    &:hover{
      background: $background;
      color:$white !important;
      margin: 0;
      padding: 0;}
  }

  #twitter {
    color: $tw;
    &:hover{
      background: $background;
      color:$white !important;
      margin: 0;
      padding: 0;}
  }

  #dribbble {
    color: $dribbble;
    &:hover{
      background: $background;
      color:$white !important;
      margin: 0;
      padding: 0;}
  }

  #github {
    color: $github;
    &:hover{
      background: $background;
      color:$white !important;
      margin: 0;
      padding: 0;}
  }

  #gitlab {
    color: $gitlab;
    &:hover{
      background: $background;
      color:$white !important;
      margin: 0;
      padding: 0;}}
