/*********************************************************************
*  CARD
*
*
*
*  Defines the card classes
*  ------------------------------------------------------------------
*  Markup:
*  -------
*
*  <div class="card">Button</button>
*  <div class="card">
*  <div class="card-title">Title</div>
*  <div className="nav-btn"> Button 3 </div> </div>
*
 *******************************************************************/
.card {
  border-top: $bdr-ct;
  border-right: $bdr-cr;
  border-left: $bdr-cl;
  border-bottom: $bdr-cb;
  padding: 1rem;
  background: $header-background;
  border-radius: 10px;
  @include for-size(big-desktop) {
  }

  @include for-size(desktop) {
  }
  @include for-size(tablet-landscape) {
    font-size: 80% !important;
  }
  @include for-size(tablet-portrait) {
    font-size: 75%;
  }
  @include for-size(phone-only) {
  }
  &:hover {
    background: $background;
    background-size: cover;
    box-shadow: 0 0 1rem -0.25rem var(--background);
  }

  .card-header {
    background: $white;
    border-radius: 10px;
    padding: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    outline: $primary 0.35rem solid;
    &:hover {
      background: $light;
      color: $primary;
      box-shadow: 0 0 1rem -0.25rem var(--background);
    }
    .card-title {
      font-family: $ff-title;
      color: $primary;
      font-size: $fz-h2;
      width: auto;
      background: $white;
      text-align: left;
      margin: 0;
      padding: 0;
      &:hover {
        background: $light;
        color: $primary;
        box-shadow: 0 0 1rem -0.25rem var(--background);
      }
    }
    .card-subtitle {
      font-family: $ff-sub;
      color: $text;
      text-align: right;
      font-size: $fz-h5;
      margin-top: 0;
      margin-bottom: 1rem;
      &:hover {
        background: $light;
        color: $primary;
        box-shadow: 0 0 1rem -0.25rem var(--background);
      }
    }
  }
  hr {
    color: $primary;
    border-bottom: 0.5rem $light solid;
    outline: none;
  }
  .card-body {
    margin: 0;
    padding: 0;
    margin-bottom: 30%;
    .card-text {
      border-radius: 10px;
      font-family: $ff-body;
      color: $text;
      text-align: center;
      background: $white;
      &:hover {
        background: $light;
        color: $primary;
        box-shadow: 0 0 1rem -0.25rem var(--background);
      }
    }
    .techs {
      border-radius: 10px;
      color: $primary;
      font-family: $ff-mono;
      background: $white;
      width: auto;
      font-size: $fz-h3;
      text-align: center;
      font-family: $ff-title;
      &:hover {
        background: $light;
        color: $primary;
        box-shadow: 0 0 1rem -0.25rem var(--background);
      }
    }
  }
}
.image-card {
  background: $header-background !important;
  height: 30rem;
  overflow: hidden;
  @include for-size(tablet-landscape) {
    display: flex;
  }
  @include for-size(tablet-portrait) {
  }
  @include for-size(phone-only) {
    display: none;
  }
  img {
    height: 25rem;
  }
  &:hover {
    background: $background !important;
    color: $primary;
    box-shadow: 0 0 1rem -0.25rem var(--background);
  }
}


.more-card {
  padding: 1rem;
  .card-header {
    background: $white;
  }
}

.about-card {
  padding: 1rem;
  .card-header {
    background: $white;
  }
  .shoutout {
    font-size: 1.5rem;
    background: $white;
    color: $primary;
    font-weight: 900;
    &:hover {
      background: $light;
      color: $primary;
      box-shadow: 0 0 1rem -0.25rem var(--background);
    }
  }
}

.modal-card {
  align-content: center;
  align-items: center;

 .card-header{
   margin-top: 0.5rem;
padding-top:0.5rem;
   padding-left: 1rem;
   hr{
     padding-bottom: 0;
   }
 }
    button {
      @extend %btn-2;
      align-self: center;
      font-family: $ff-title;
      font-size: 1.25rem;
      height: 5rem;
    }
  }

