.image-card{
  background: $header-background !important;


  @include for-size(tablet-landscape) {
    display:flex;

   }
  @include for-size(tablet-portrait) {
   }
  @include for-size(phone-only) {

      display:none;

  }
}