/*********************************************************************
 *  MODAL
 *
 *
 *  ------------------------------------------------------------------
 *
 *******************************************************************/


.modal {}

  h3 {
    width: 100%;
    color: $primary !important;
    font-size: $fz-h2 !important;
    text-align: center;
    magin: 0 !important;


    h4 {
      width: 100%;
      color: $primary !important;
      font-size: $fz-h2 !important;
      text-align: center;
      magin: 0 !important;
    }


  }

  .modal-subtitle {
    width: 100%;
    color: $primary !important;
    font-size: $fz-h3 !important;
    text-align: center;
    magin: 0 !important;
  }

