@import "./_base.scss";
@include generate-grid();

#about {

.card{
    background: $white;
    width:100%;
    height:90%;
    @include animate(flipInX, 1.5s, 25 );
}
    .image-card{
        background: $header-background;
    }

        .card-title {
            font-family: $style-font;
            font-size: 4.5rem;
            margin-left: 0;
        }

        .card-subtitle {
            font-family: $title-font;
        }





    .aboutCard {
        background: $white !important;
        width: 100%;
        margin: 3%;
        display: inline-block;
    }
button{
    margin-left:10%;
    margin-right:10%;
}


}


.modal-body{
    padding: 3rem!important;
    min-height:100%;
}