@import './_base.scss';

html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  box-sizing: border-box;
  overflow: no-display;

  body {
    background: $background !important;
    margin: 0;
    padding: 0;
    color: $font-color;
    font-family: $font;
    border-radius: 10px;
    //@include for-size(big-desktop) {
    //}
    //
    //@include for-size(desktop) {
    //}
    //@include for-size(tablet-landscape) {
    //}
    //@include for-size(tablet-portrait) {
    //}
    @include for-size(phone-only) {
      width: 100% !important;
    }
  }

  img {
         display: block;
        width: 100%;
      min-height:100%;
     }
}
