@import './_base.scss';

.card-footer {
  color: $gray1;
}
.card-title {
  font-family: $title-font;
  color: $blue;
  font-size: 2.3rem;
  margin-left: 3rem;
  margin-right: 6rem;
  width: 25%;
}
.card {
  border-top: $gray1 0.25rem solid;
  border-right: $gray2 0.5rem solid;
  border-left: $blue 0.5rem solid;
  border-bottom: $blue2 0.5rem solid;
  padding: 1.5rem;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 5% !important;
  margin-right: 5% !important;
  overflow: no-display;

  height: 90%;
  background: $header-background;
  @include for-size(big-desktop) {
  }

  @include for-size(desktop) {
  }
  @include for-size(tablet-landscape) {
    font-size: 80% !important;
  }
  @include for-size(tablet-portrait) {
    font-size: 75%;
  }
  @include for-size(phone-only) {
  }
}
.card-title {
  color: $blue !important;
  background: $white;
  width: auto;
  overflow: no-content;
}
