@import "./_base.scss";

footer {
    position: relative;
    margin-top:5%;
clear:both;
    margin-bottom:0 !important;
    width: 100% !important;
    background: $header-background;
    border-top: $blue2 0.5rem solid;
    border-right: $gray2 1rem solid;
    border-left: $blue 1rem solid;
    @include for-size(big-desktop) {
        font-size: 100% !important;
    }

    @include for-size(desktop) {
    }
    @include for-size(tablet-landscape) {
        font-size: 85% !important;
    }

    @include for-size(phone-only) {
        font-size: 75% !important;
    }
    h1 {
        font-family: $title-font;
    }
a{
    @extend %btn-1
}

}
