@import './_base.scss';

footer {
  position: relative;
  margin-top: 2rem;
  clear: both;
  margin-bottom: 0 !important;
  width: 100% !important;
  background: $header-background;
  border-top: $blue2 0.5rem solid;
  border-right: $gray2 1rem solid;
  border-left: $blue 1rem solid;
  align-content: flex-end;
  align-self: flex-end;
  align-items: center;

  h1 {
    font-family: $title-font;
  }
  h4 {
    color: $gray1;
    background: $white;
    font-family: $style-font;
    width: 100%;
    height: 80%;
    font-size: 3rem !important;
    padding: 0;
    margin: 0 ;
  }
  a {
    @extend %btn-4;
    margin-left: 0.5rem !important;
    margin-right: 0.2rem !important;
  }


  .copyright {
    background: $white;
    box-sizing: content-box;
    display:block;
    display:block;
    margin-left:35%;
    margin-right:35%;
    width: 20%;
    margin-bottom: 1rem;
    @include for-size(big-desktop) {
      font-size: 100% !important;
      margin-left:35%;
      margin-right:35%;
    }

    @include for-size(desktop) {
      font-size: 95% !important;
      margin-left:35%;
      margin-right:35%;
    }

    @include for-size(tablet-landscape) {
      font-size: 85% !important;
      margin-left:40%;

    }

    @include for-size(phone-only) {
      font-size: 75% !important;
      margin-left:55%;

    }
  }
}
