@import "./_base.scss";
.grid {
  display: flex;
  max-width: #{$grid-width}px;
  flex-wrap: wrap;
  margin-top: 1rem !important;
  margin-right: 1rem !important;
  margin-bottom: 1rem !important;
  overflow:no-content;
  justify-content: space-between;

  //@include for-size(big-desktop) {
  //}
  //
  //@include for-size(desktop) {
  //}
  @include for-size(tablet-landscape) {
display: block;
.col{
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 3rem;
align-content: center;
  justify-content: center;
  a{
    font-size: 3rem !important
  }
}


  }
  //@include for-size(tablet-portrait) {
  //}
  @include for-size(phone-only) {
    width: 100% !important;
  }
}


.col {
  width: $column-width;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  min-height: 1px;
}

