@import "./_base.scss";
.grid {
  display: flex;
  max-width: #{$grid-width}px;
  flex-wrap: wrap;
  margin-top: 1rem !important;
  margin-right: 1rem !important;
  margin-bottom: 1rem !important;
  overflow:no-content;
  justify-content: space-between;

  @media (min-width: $mobile-breakpoint) {
    flex-direction: row;
    margin: 0 auto;
    padding: 0;



  }
}


.col {
  width: $column-width;
  margin-bottom: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  min-height: 1px;
}

