@import "./_base.scss";

.nav-btn {
    @extend %btn-1;
    color: $white !important;
    font-family: $title-font-alt0 !important;
    width:30% !important;
    text-decoration: none !important;
        text-align: center !important;
}
.nav-btn a:hover {
    @extend %btn-2;
    color: $white !important;


}
.nav-btn a:active {
    @extend %btn-2;
}
.nav-btn a:visited {
    @extend %btn-1;
}
.nav-link {
    @extend %btn-1;
    display: inline-block;
    font-family: $title-font-alt0 !important;

}
.nav-pills {
    display: inline-block;
    font-family: $title-font-alt0 !important;
}


#nav0 {
    background: $gradient1;
}
#nav1 {
    background: $gradient2;
}
#nav2 {
    background: $gradient3;
}
#nav3 {
    background: $gradient4;
}
