@import './_base.scss';
#projects {
  @include animate(pulse, 1s, 39);
  width: 95%;
  padding: 1.5rem;
  margin-left: 2.5%;
  margin-top: 2rem;
  background: $gradient0;
  border: 3rem double $gray1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-basis: border-box;
  clear: both;
  @include animate(zoomIn, 3s, 20, 1);
  h1 {
    font-size: 13rem !important;
    color: $white;
    border-bottom: $gray1 solid 0.5rem;
    margin-left: 02rem;
    margin-bottom: 30%;
    @include for-size(tablet-landscape) {
      width: 100%;
      display: block;
      margin: 0.125rem 0 0;
      padding: 0;
    }
  }

   .post {
    a {
      text-decoration: none;
      font-family: $title-font-alt2;
      font-size: 2.5rem;
      font-weight: 900;
      color: $gray3 !important;
    }

    a:hover {
      @extend %btn-5;
      color: $gray3;
    }

    a:visited {
      text-decoration: none;
      font-family: $style-font;
      font-size: 3rem;
      color: $gray3 !important;
    }


  }

  section {
    box-sizing: border-box;
    width: 95%;

  }

  main {
    margin-left: 10%;
    float: left;
    color: $white;
    min-width:50%;
    font-weight: 900;
    p {
      background: none;
    }
    justify-content: center;

  }
  aside {
    float: right;
    color: $white;
    font-weight: 900;

    h4 {
      color: $white;
  font-size: 4rem;
      font-family: $style-font;
      margin-left:0.5rem;
    }
    p {
      font-size: 2rem;
      background: none;
      margin-left: 1rem;
      font-family: $font-alt;
    }
  }
  @include for-size(tablet-landscape) {
    width: 100%;
    display: block;
    margin-left: 0;
    h1 {
      font-size: 6rem !important;
      font-family: $style-font;
      text-align: center;
      color: $white;
    }
h4{
  font-size: 1.4rem;
}
    p {
      font-size: 1.2rem !important;
      margin-bottom: 2rem;
      margin-right: 5%;
      margin-left: 5%;
    }
  }
}
