@import './_base.scss';
#projects {
  @include animate(pulse, 1s, 39);
  width: 85%;
  padding: 1.5rem;
  margin: 2rem 4.5%;
  background: $gradient0;
  border: 3rem double $gray1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-basis: border-box;
  clear: both;
  @include animate(zoomIn, 3s, 20, 1);
    h1{
        font-size:10rem !important;
        color:$white;
    }
   .post {
       a {
           text-decoration: none;
           font-family: $font-alt2;
           font-size: 2.5rem;
           color: $gray3 !important;
       }

       a:hover {
           @extend %btn-5;
           color: $gray3;

       }

       a:visited {
           text-decoration: none;
           font-family: $style-font;
           font-size: 3rem;
           color: $gray3 !important;
       }
   }

    section {
        box-sizing: border-box;
        width: 90%;
    }

    main {
        margin-left: 10%;
        float: left;
        color:$white;
        p {
            background: none;
        }
    }
    aside {
        border-left: 0.5rem $gray1 solid;
        margin-left: 5%;
        float: right;
        color:$white;

        h4 {
            color: $white;
            margin-left: 5%;
        }
        p {
            font-size: 1.5rem;
            background: none;
            margin-left: 1rem;
        }

    }
  @include for-size(tablet-landscape-down) {
      width: 100% !important;
      h1 {
          font-size: 5rem !important;
          font-family: $style-font;
          text-align: center;
          color: $white;
          margin-bottom: 0 !important;
      }



          p {
              font-size: 0.8rem;
              margin-bottom: 2rem;
              margin-right: 5%;
              margin-left: 5%;
          }
      }


}
