@import './_base.scss';
#resume {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background: $white;
  display: block;
  //common classes styles
  .card-title {
    width: 95%;
    @extend %resume-title;
    font-size: 5rem;
    margin-right: 5%;
    margin-bottom: 0;
    text-align: center;
    @include animate(zoomIn, 1s, 100);
  }
  .card-title-description {
    width: 95%;
    margin-top: 0;
    margin-left: 2.05%;
    font-size: 3.5rem;
    @extend %resume-title;
    border-bottom: 1rem $gray1 solid;
    @include animate(zoomIn, 1s, 100);
  }
  .card-subtitle {
    @extend %resume-subtitle;
  }
  .row {
    margin-bottom: 3rem;
    border-bottom: 0.75rem solid $gray1;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col {
    width: 45%;
    display: inline-block;
    @include animate(lightSpeedIn, 1s, 100);
  }
  .highlights {
    list-style: inside;
    font-family: $style-font-alt1;
    font-size: 1.5rem;
  }

  // section styles
  #basics {
    .contact {
      margin-bottom: 1rem;
      line-height: 3rem;
      margin-right: 0;
      strong {
        background: $blue;
        color: $white;
        font-family: $style-font-alt1;
        font-size: 2rem;
        border-bottom: 0.5rem solid $gray1;
      }
      a {
        float: right;
        @extend %resume-basics-btn;
      }
      a:hover {
        @extend %resume-basics-btn-hover;
      }
    }
    .profiles {
      a {
        margin-left: 0.75rem;
        @extend %resume-basics-btn;
      }
      a:hover {
        @extend %resume-basics-btn-hover;
      }
    }
  }
  #summary {
    float: right;
    p {
      font-size: 2rem;
    }
  }
  #work {
    clear: both;
    .col {
      margin-left: 5%;
      margin-right: 5%;
      width: 40%;
    }
    .col:nth-child(even) {
      float: right;
    }
    .work-name {
      background: $gray1;
      font-family: $style-font-alt0;
      color: $white;
      margin-bottom: 0;
      font-size: 3rem;
    }
    .work-position {
      background: $gray1;
      font-family: $style-font-alt0;
      color: $white;
      font-size: 3rem;
      margin-top: 0;
      border-bottom: 0.5rem solid $blue;
    }
    .work-date {
      text-align: center;
      font-family: $style-font-alt1;
      font-size: 2rem;
      p {
        font-size: 1.75rem;
        text-align: left;
      }
    }

    .work-website {
      a {
        @extend %resume-basics-btn-hover;
        margin-left: 5%;
      }
      a:hover {
        @extend %resume-basics-btn;
      }
    }
  }
  #education {
    clear: both;
    .col {
      margin-left: 5%;
      margin-right: 5%;
      width: 40%;
    }
    .col:nth-child(even) {
      float: right;
    }
    .institution {
      background: $gray1;
      font-family: $style-font-alt0;
      color: $white;
      margin-bottom: 0;
      font-size: 3rem;
      border-bottom: $blue solid 0.5rem;
    }
    .study-date {
      text-align: center;
      font-family: $style-font-alt1;
      font-size: 2rem;
    }
    .gpa {
      color: $white;
      background: $blue;
      font-size: 1.75rem;
      width: 25%;
      margin-left: 5%;
      font-family: $title-font-alt;
    }
  }
  #skills {
    clear: both;
    .col {
      margin-left: 5%;
      margin-right: 5%;
      width: 40%;
    }
    .col:nth-child(even) {
      float: right;
    }
    .category {
      margin-top: 5%;
      padding: 1%;
      background: $gray1;
      font-family: $style-font-alt0;
      color: $white;
      margin-bottom: 1rem;
      font-size: 3rem;
      border-bottom: $blue solid 0.5rem;
    }
  }
  #misc {
    clear: both;
    justify-content: center;
    align-content: center;
    #languages {
      padding-right: 2%;
      .languages {
        list-style: none;
        text-align: center;

        .language {
          background: $blue;
          color: $white;
          font-size: 3rem;
          font-weight: 900;
          font-family: $style-font;
        }

        .level {
          background: $gray1;
          color: $white;
          font-size: 3rem;
          font-weight: 900;
          font-family: $style-font;
        }
      }
    }
    #references {
      .people {
        list-style: none;
        text-align: center;

        .name {
          background: $blue;
          color: $white;
          font-size: 3rem;
          font-weight: 900;
          font-family: $style-font;
        }
        .phone {
          background: $gray1;

          font-family: $style-font;
          .reference {
            color: $white !important;
            font-size: 3rem;
            font-weight: 900;
          }
        }
      }
    }
  }
}
