@import './_base.scss';
#resume{
  width:90%;
  margin-left:5%;
  margin-right:5%;
  background: $white;
  display:block;
  .card-title{
    width:90%;
    @extend %resume-title;
    font-size: 5rem;
    margin-bottom:0;
    text-align:center;
  }
  .card-title-description{
    width:90%;
    margin-top:0;
    font-size:3.5rem;
    @extend %resume-title;
  }
  .card-subtitle{
    @extend %resume-subtitle;
  }
  .row{
    margin-bottom:3rem;
    border-bottom: 0.75rem solid $gray1;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col{
    width:45%;
    display:inline-block;
  }
  #basics{
    .contact{
      margin-bottom: 1rem;
      line-height: 3rem;
      margin-right:0;
      strong{
        background: $blue;
        color: $white;
        font-family: $style-font-alt1;
        font-size: 2rem;
        border-bottom: 0.5rem solid $gray1;
      }
      a{
        float: right;
        @extend %resume-basics-btn;
      }
      a:hover{
      @extend %resume-basics-btn-hover;
      }
    }
    .profiles{
      a{
        margin-left: 0.75rem;
        @extend %resume-basics-btn;
      }
      a:hover{
        @extend %resume-basics-btn-hover;
      }
    }
  }
  #summary{
    float:right;
    p{
      font-size:2rem;
    }
  }
  #work{
    clear:both;

    .col:nth-of-type(2){
      float:right;
    }
    .work-name{
      background: $gray1;
      font-family: $style-font-alt0;
      color: $white;
      margin-bottom:0;
      font-size: 3rem;
    }
    .work-position{
      background: $gray1;
      font-family: $style-font-alt0;
      color: $white;
      font-size:3rem;
      margin-top:0;
      border-bottom: 0.5rem solid $blue;
    }
    .work-date{
      text-align: center;
      font-family: $style-font-alt1;
      font-size:2rem;
    }
    .highlights{
      list-style: inside;
      font-family: $style-font-alt1;
      font-size:1.5rem;
    }
    .work-website {
      a {
        @extend %resume-basics-btn-hover;
        margin-left:5%;
      }
      a:hover{
        @extend %resume-basics-btn;
      }
    }
  }
}