@import './_base.scss';
#resume {
  font-family: $font !important;
  color: $gray2;
  background: $white !important;
  width: 90%;
  margin-left: 5%;
  margin-right: 8%;
  margin-top: 3%;
  padding-right: 3rem;
  .card-title {
    color: $white;
    @include animate(fadeIn, 2s, 20, 1 );
    width: 100%;
  }
  .contact{
    width:100% !important;
    overflow: no-display;
    a{
      margin-left:0.75rem;
      margin-top:0.5rem;
      background: $blue;
      color:$white;
      border:0.25rem solid $gray1;
      text-decoration: none;
    }
  }
  .work_name,
  .company {
    background: $blue;
    color: $white;
  }

  section {
    margin-bottom: 2rem;
    padding: 2rem 2rem;
    @extend %prose;
    background: $white;
    @extend %section;
    border-bottom: 2rem $gray1 solid;
  }
  .item {
    background: $gray1;
    color: $gray1;
    margin-bottom: 3rem;
    background: $blue;
    border-top: $gray1 solid 0.5rem;
    border-left: $gray1 solid 0.5rem;
    border-bottom: $gray1 solid 0.5rem;
    border-right: $gray1 solid 0.5rem;
  }
  .summary {
    padding: 0.25rem;
    clear: both;
  }
  blockquote {
    margin: 0 0 1em;
  }
  h1 {
    font-size: 3em;
    color: $gray1;
    width: 100%;
    margin: 0;
    background: $gradient0;
    border-bottom: 1rem $gray1 solid;
  }
  h2 {
    font-size: 2em;
    color: $gray1;
    background: $gradient0;
    border-bottom: 1rem $gray1 solid;

    width: 100%;
  }
  ul {
    display: inline-block;
  }
  strong {
    font-size: 1.2rem;
  }
  div {
    font-size: 1.2rem;
    font-weight: 900;
    padding-bottom: 5px;
  }
  .work_date,
  .work_position,
  .work_website,
  .institution,
  .study_date,
  .qualification {
    margin-bottom: 1rem;
    float: left;
    width: 30%;
  }
  .card-resume {
    @extend %prose;
    background: $white !important;
    width: 100%;
    font-size: 1.2rem;
  }

  .content {
    line-height: 1.4;
    width: 100%;
  }

  .resume-head {
    background: $white;
  }
  .reference {
    color: $gray1;
  }
}
//end id=resume

//begin id=basic
#basics {
  margin-bottom: 10px;
  font-size: 1.2rem;
  h3 {
    font-size: 1.5rem;
    color: #343a40;
    padding-bottom: 10px;
    font-size: 1.5rem;

    margin-top: 1.5em;
    margin-bottom: 10px;
  }
  .contact strong {
    line-height: 1.3;
    float: left;
    font-size: 1.5rem;
  }
  .contact {
    @extend %prose;
    @extend %section;
    margin-bottom: 1rem;
    margin-right: 3rem;
    float: left;
    width: 50%;
  }
}
//end basic
#profiles {
  margin-bottom: 3rem;
}
//section based styling
#skills {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

#languages .item,
#interests .item,
#skills .item {
  float: left;
  margin-left: 2rem;
  background: $blue;
  color: $gray3;
  padding: 1rem;
  border-top: $gray1 solid 0.5rem;
  border-left: $gray1 solid 0.5rem;
  border-bottom: $gray1 solid 0.5rem;
  border-right: $gray1 solid 0.5rem;
}
#work,
#volunteer,
#education,
#languages,
#references,
#interests {
  padding: 1.5rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}
.last-item {
  margin-bottom: 6em;
}
