@import './_base.scss';
h1,
h2 {
  font-family: $title-font-alt0 !important;
  color: $blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: $style-font;
}
p,
li,
ul,
blockquote {
  background: $white;
  font-family: $font-alt1 !important;
}
