.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.55rem;
  margin-top: 9%;
  padding: 10rem 25rem 10rem 15rem;
  border-radius: 18px;
  border: 0.25rem var(--primary-color) solid;
  background-color: var(--bg-color);
  @include md {
    padding: 5rem 12.5rem 10rem 16;
  }
  &__content {
    @extend .gradient-underline;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    background-size: 100% 5px;
    background-blend-mode: soft-light, lighten;
    transition: background-size 0.01s;
    @include sm {
      letter-spacing: normal;
      padding: 0;
    }
    &:hover {
      color: var(--vibrant-color);
    }
  }
  &__subtitle__container {
    display: block;
  }
  &__subtitle {
    margin: 1rem;
    margin-top: 4rem;
    font-weight: 900;
    letter-spacing: 0;
    opacity: 0.45;
    font-family: 'Baloo Da 2', sans-serif;
    color: var(--black-color);
    text-shadow: none;
    font-size: 2rem;
    width: 30%;
    justify-self: space-around;
    align-self: center;
    float: left;
    @include animate(pulse, 1.5s, 40);
  }
  &__location {
    padding: 0;
    font-weight: 100;
    letter-spacing: 0;
    opacity: 0.3;
    font-family: 'Baloo Da 2', sans-serif;
    color: var(--heading-color);
    font-size: 2rem;
    float: right;
  }

  @include sm {
    letter-spacing: normal;
    padding: 0;
    &__subtitle {
      margin-top: 1.5rem;
      line-height: 1.25;
    }
  }
}
