.introduction {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex: 1 1 auto;
  letter-spacing: 0.55rem;
  margin-top: 7%;
  padding: 10rem 25rem 10rem 15rem;
  border-radius: 18px;
  border: 0.25rem var(--primary-color) solid;
  background-color: var(--bg-color);
  &__content {
    @extend .gradient-underline;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    background-size: 100% 5px;
    background-blend-mode: soft-light, lighten;
    transition: background-size 0.01s;
    &:hover {
      background-size: 100% 20px;
      color: vsr(--vibrant-color);
    }
  }
  &__subtitle__container {
    display: block;
    width: 100%;
  }
  &__subtitle {
    margin-top: 1rem;
    font-weight: 100;
    letter-spacing: 0;
    opacity: 0.45;
    font-family: "Baloo Da 2", sans-serif;
    color: var(--heading-color);
    font-size: 2rem;
    width: 60%;
    justify-self: space-around;
    align-self: center;
    float: left;
  }
  &__location {
    padding: 0;
    font-weight: 100;
    letter-spacing: 0;
    opacity: 0.3;
    font-family: "Baloo Da 2", sans-serif;
    color: var(--heading-color);
    font-size: 2rem;
    width: 20%;
    float: right;
  }
  &__icon {
    svg {
      fill: var(--svg-color);
    }
  }
  @include sm {
    padding: 2rem 0;
    letter-spacing: normal;
    &__subtitle {
      margin-top: 1.5rem;
      line-height: 1.25;
    }
  }
}
