/// PROJECTS
.projects {
  width: 100%;
  margin-top: 3rem;
  svg {
    margin-left: 1rem;
  }
  .project {
    margin: 4rem;
    padding: 2rem 4rem;
    display: flex;
    border-radius: 18px;
    border: var(--primary-color) 0.25rem solid;
    background-color: var(--bg-color);
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    @include sm {
      border-bottom: 5px solid var(--primary-color);
    }
    @include sm-md {
      padding: 1rem;
      margin: 1rem;
      padding-top: 2rem;
      margin-top: 2rem;
    }
    &__left {
      opacity: 0;
      //transform: translateX(-100px);
      //transition: all 1.5s ease-out;
    }
    &__right {
      //opacity: 0;
      //transform: translateX(100px);
      //transition: all 1.5s ease-out;
      border-left: var(--gray-color) 0.25rem solid;
    }
    &__left.visible,
    &__right.visible {
      opacity: 1;
      transform: none;
    }
    &__video {
      width: 47%;
      background: transparent;
      padding: 1rem;
      display: flex;
      align-items: center;
      img {
        border-radius: 3px;
      }

      @include sm {
        width: 100%;
        padding: 1rem;
      }
    }
    &__details {
      width: 47%;
      background: var(--bg-color);
      padding: 2.5rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      @include sm {
        padding: 1rem;
        width: 100%;
      }
    }
    &__description {
      flex: 1;
      ul {
        margin-top: 1rem;
        font-size: 1.5rem;
        li {
          margin-top: 0.5rem;
          svg {
            margin-right: 0.5rem;
            fill: var(--font-color);
          }
        }
      }
    }
    &__title {
      margin-bottom: 2rem;
      text-align: center;
    }
    .heading-3{
      font-size: 3.75rem;
      text-shadow: var(--gray-color) 0.2rem 0.2rem;

    }
    .tag-icon{
      color: var(--gray-color);
      border-color: var(--gray-color);
      font-size: 1.35rem;
      font-weight: 900;

    }
    &__links {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 2rem;
      margin-top: 2.5rem;

      a {
        margin-right: 2rem;
        display: flex;
        align-items: center;
        @include link-states(--heading-color, --primary-color);
      }
      a:last-of-type {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }
    }
    &__techstack {
      span {
        border: 1px solid grey;
      }
    }
    &__read-more {
      color: var(--primary-color);
      font-size: 1.5rem;
      text-transform: uppercase;
      @include link-states(--primary-color, --font-color);
    }

  }

}
