// BREAKPOINTS
$xsm-breakpoint: 320px;
$sm-breakpoint: 600px;
$sm-md-breakpoint: 768px;
$md-breakpoint: 916px;
$lg-breakpoint: 976px;
$xl-breakpoint: 1024px;
$xxl-breakpoint: 1200px;
// COLORS

// fallbacks for IE
$primaryColor: #3febff;
$secondaryColor: #555e70;

:root {
  --primary-color: #3febff;
  --secondary-color: #555e70;
  --vibrant-color: #00e3ff;
  --font-color: #555e70;
  --bg-color: #fdfdfd;
  --heading-color: #555;
  --white-color: #fdfdfd;
  --svg-color: #3febff;
  --form-color: #eceff2;
  --pagination-color: #c1cad6;
  --placeholder-color: #c1cad6;
  --gray-color: #556;
  --black-color: #313040;
}

[data-theme="dark"] {
  --secondary-color: #fdfdfd;
  --font-color: #fdfdfd;
  --bg-color: #23262d;
  --heading-color: #c1cad6;
  --svg-color: #3febff;
  --pagination-color: #8b9cbe;
  --placeholder-color: #c1cad6;
  --gray-color: #8b9cbe;
  --black-color: #8b9cbe;
}
