// BREAKPOINTS
$xsm-breakpoint: 320px;
$sm-breakpoint: 600px;
$sm-md-breakpoint: 768px;
$md-breakpoint: 916px;
$lg-breakpoint: 976px;
$xl-breakpoint: 1024px;
$xxl-breakpoint: 1200px;

// COLORS

// fallbacks for IE
$primaryColor: #3febff;
$secondaryColor: #556;

:root {
  --primary-color: #3febff;
  --secondary-color: #555566;
  --font-color: #555566;
  --bg-color: #fdfdfd;
  --heading-color: #555;
  --white-color: #fdfdfd;
  --svg-color: #3febff;
  --form-color: #eceff2;
  --pagination-color: #c1cad6;
  --placeholder-color: #c1cad6;
  --gray-color: #555566;
  --black-color: #24262d;
}

[data-theme="dark"] {
  --secondary-color: #fdfdfd;
  --font-color: #fdfdfd;
  --bg-color: #343a40;
  --heading-color: #c1cad6;
  --svg-color: #3febff;
  --pagination-color: #909090;
  --placeholder-color: #c1cad6;
  --gray-color: #909090;
}
