/*************************************************************************************
*  About Page
*
*
*
**************************************************************************************/
#about {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;

  .row {
    display: flex;
    margin-left: 8%;

    .card {
      height: 28rem;
      width: 28%;
      margin: 1rem;
      box-shadow: 0.25rem 0.25rem 2rem -1rem rgba(0, 0, 0, .05);
      @include animate(flipInX, 2s, 70 );


      &:hover {
        background: $background3;
        background-size: cover;
        box-shadow: 0 0 1rem -.25rem var(--background);

        .socialIcons {
          button {
            background: $gradient0;
          color: $white;
          }
        }
      }


    }
  }


  .social-button {
    margin: 0;
    margin-left: 0.75rem;
    border-radius: 25px;
    padding: 0;

    width: 100%;
    background: $white;


    button {
      padding: 0.125rem;

      width: auto;
      background: $white;
      &:hover{
        color:$white;
      }
    }

    #linkedin {
      color: $linkedin;
      &:hover{
        color:$white;
      }
    }

    #instagram {
      color: $instagram;
      &:hover{
        color:$white;
      }
    }

    #twitter {
      color: $tw;
      &:hover{
        color:$white;
      }
    }

    #dribbble {
      color: $dribbble ;
      &:hover{
        color:$white;
      }
    }

    #github {
      color: $github;
      &:hover{
        color:$white;
      }
    }

    #gitlab {
      color: $gitlab;
      &:hover{
        color:$white;
      }
    }
  }
}

.image-card {
  background: $header-background !important;
  height: 30rem;
  overflow: hidden;
  @include for-size(tablet-landscape) {
    display: flex;
  }
  @include for-size(tablet-portrait) {
  }
  @include for-size(phone-only) {
    display: none;
  }
  img {
    height: 25rem;
  }
  &:hover {
    background: $background3 !important;
    color: $primary;
    box-shadow: 0 0 1rem -0.25rem var(--background);
  }
}

.more-card {
  padding: 1rem;
  .card-header {
    background: $white;
  }
}

.about-card {
  padding: 1rem;
  .card-header {
    background: $white;
  }
  .shoutout {
    font-size: 1.5rem;
    background: $white;
    color: $primary;
    font-weight: 900;
    &:hover {
      background: $light;
      color: $primary;
      box-shadow: 0 0 1rem -0.25rem var(--background);
    }
  }
}

.modal-card {
  align-content: center;
  align-items: center;

  .card-header {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    hr {
      padding-bottom: 0;
    }
  }
}

.resume-card{
  color:$light;
  font-family: $ff-sub;
  &:hover{
    color:$primary
  }
  a{
    button{
      margin-left: 15%;
    }
  }
}
