/*************************************************************************************
*  BLOG POST PAGE
*
*
*
**************************************************************************************/

.blog-post {
  @include animate(fadeInDown, 1s, 20, 1);
  padding: 2rem;
  background: $white !important;
  margin-top: 2rem !important;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-left: 0.5rem solid $primary;
  border-right: 0.5rem solid $gray;
  border-bottom: 0.5rem solid $light;
  border-top: 0.25rem solid $primary;
  h1 {
    font-family: $ff-sub;
    font-size: 5rem;
    color: $light;
    text-align: right;
  }
  .blog-hr {
    color: $white;
    border-bottom: 0.5rem $primary solid;
  }
  h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
    font-family: $ff-body;
    margin-top: 3.5rem;
    border-bottom: 0.25rem solid $dark;
    color: $light;
  }
  h3 {
    font-family: $ff-body;
    color: $light;
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 2rem;
  }
  h4 {
    font-family: $ff-body;
    color: $light;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  a {
    color: $primary !important;
    text-decoration: none;
  }
  a:hover {
    background: $white;
    color: $light !important;
    border: none;
  }
  #date {
    font-size: 1.4rem;
    color: $light;
    width: 15%;
    text-align: center;
  }
  hr {
    color: $white;
    background: $white;
    border-bottom: solid $light 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  ul {
    li {
      font-family: $ff-sub;
      font-size: 2rem;
      margin-left: 1rem;
      color: $light;
      width: 40%;
    }
  }
  .nav {
    list-style: none;
    align-content: center;
    align-items: center;
    // margin-left: 35%;
    .nav-btn {
      display: inline-block;
      background: $light !important;
      text-decoration: none;
      font-size: 2.5rem;
      width: 40% !important;
      margin-left: 7%;
      a {
        text-decoration: none;
        color: $white !important;
      }
    }
    .nav-btn:hover {
      text-decoration: none;
      background: $primary !important;
      outline: none;
      border: none;
      a {
        color: $light;
        background: $primary;
      }
    }
  }
  img {
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    outline: 0.5rem solid $light;
  }
  p {
    width: 85%;
    margin-left: 1.5rem;
  }
}
