/*************************************************************************************
*  HOME PAGE
*
*
*
**************************************************************************************/

#home {
  .home-card {
    background: url("https://raw.githubusercontent.com/Thomashighbaugh/resurgens-iv/master/dogpatchcircuit.png");
    background-size: cover;
    border-top: $bdr-ct;
    border-right:$bdr-cr;
    border-left: $bdr-cl;
    border-bottom: $bdr-cb;
    padding: $p-xxl;
    justify-content: center;
    align-content: center;
    width: 73%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 14%;
height: 80vh;


//home card styling
    @include for-size(big-desktop) {
    }

    @include for-size(desktop) {

    }
    @include for-size(tablet-landscape) {
      font-size: 80% !important;
      width:100%;

      margin-bottom:0 !important;
      padding:0;
    }
    @include for-size(tablet-portrait) {
      font-size: 75%;
      width:100%;
      padding: 0;
      margin-top: 0;
    }
    @include for-size(phone-only) {
      width:100%;
      padding: 0;
      margin: 0;
    }

  }

  section {
    @include animate(lightSpeedIn, 1s, 6, 1);
    justify-content: center;

    @include for-size(tablet-landscape) {
      margin-bottom:0 !important;
      padding-bottom:0;
    }
    @include for-size(tablet-portrait) {
      padding: 0;
      margin-top: 0;
    }
    @include for-size(phone-only) {
      padding: 0;

    }

  }
  hr {
    border-bottom: 1rem solid $gray1;
    width: 30%;
    @include animate(pulse, 2s, 20, 1 );
    margin: 4.5rem;
    margin-left: 35%;

  }

  .card-title {
    @include animate(bounceInDown, 2s, 20, 1 );
    background: $white;
    font-size: $fz-h1;
    width: 85%;
    margin-bottom: 0;
    text-align: center;
border-radius: 10px;
    color: $primary;
    font-family: $ff-title;
    border: $bdr-button;

    @include for-size(tablet-landscape) {
      font-size: 6rem;
      width: 80%;
      margin-left: 10%;
    }
    @include for-size(tablet-portrait) {
      font-size:4rem;
      margin:0;
    }
    @include for-size(phone-only) {
      font-size:2.7rem;
      width: 100%;
      margin:0;
    }
  }
  .card-subtitle{
    @include animate(slideInUp, 1s, 20, 1 );
    background: $white;
    font-size: $fz-h2;
    float: right;
    margin-top: 3.5rem;
    width: 51%;
    color: $primary;
    border:$bdr-button;
    font-family: $ff-sub;

    @include for-size(tablet-landscape) {
      font-size: 55%;
      width: 80%;
      margin-left: 10%;
    }
    @include for-size(tablet-portrait) {
      font-size:50%;
    }
    @include for-size(phone-only) {
      display:none;
    }
  }
}
