/*************************************************************************************
*  PROJECT PAGE
*
*
*
**************************************************************************************/

#projects {
  width:95%;
  margin-left: 2.5%;
  .card {
    min-height: 70vh;
    display: flex;
    flex-direction: row;
.card-body{
  font-family: $ff-sub;
  color: $light;
  font-weight: 900;
  background: $white;
border: $primary solid 0.5rem;
  padding: 1rem;
  font-size:1.25rem;
  &:hover{
    color:$white;
    background:$background;
  }
}
    hr {
      border-bottom: 0.5rem solid $light;
      color: $light;
      border-top: none;
      display: block;
      &:hover {
        border-bottom: 0.5rem $primary solid;
      }
    }

    .projects-intro {
      width: 35%;
      display: block;
      .card-header {
        .card-title {
          text-align: center;
          color: $primary;
          font-family: $ff-title;
          margin-bottom: 0;
        }
      }
    }

    main {
      max-width: 55%;
      margin-left: 6%;
      float: right;

      .post {
        display: block;
text-align: right;
        margin-right: 5%;
        padding: 1rem;
        background: $white;
        border: $primary 0.5rem solid;
        &:hover{
          background:$background;
          color: $white;
        }
            .link-heading {
              font-size: 2rem;
              font-family: $ff-title;
              color: $primary;
              text-decoration: none;
              width: 100%;
&:hover{
  color:$white;
}
            }

            small {
              text-align: right;
              font-family: $ff-mono;
              font-size: 0.9rem;
            }

            p {
              font-family: $ff-sub;
            }
          }


    }
  }
}
