/*************************************************************************************
*  RESUME PAGE
*
*
*
**************************************************************************************/
#resume {
  width: 99%;
  background: $white;
  display: block;
  //common classes styles
  .card-title {
    width: 100%;
    color: $white !important;
    background: $primary;
    width: 100%;
    padding:1%;
    font-family: $ff-sub !important;
    float:left;
    font-size: 5rem;
    margin-bottom: 0;
    text-align: center;
    @include animate(zoomIn, 1s, 100);
  }
  .card-title-description {
    width: 100%;
    margin-top: 0;
    font-size: 3.5rem;
    border-bottom: 1rem $light solid;
    @include animate(zoomIn, 1s, 100);
  }
  .card-subtitle {
    color: $white !important;
    background: $primary;
    font-family: $ff-sub !important;
    font-size:2.5rem;
    border-bottom: 1rem $light solid;
  }
  .row {
    margin-bottom: 3rem;
    border-bottom: 0.75rem solid $light;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col {
    width: 45%;
    display: inline-block;
    @include animate(lightSpeedIn, 1s, 100);
  }
  .highlights {
    list-style: inside;
    font-family: $ff-sub;
    font-size: 1.5rem;
  }

  // section styles
  #basics {
    .contact {
      margin-bottom: 1rem;
      line-height: 3rem;
      margin-right: 0;
      strong {
        background: $primary;
        color: $white;
        font-family: $ff-sub;
        font-size: 2rem;
        border-bottom: 0.5rem solid $light;
      }
      a {
        float: right;
        background: $light;
        color: $white;
        border: 0.25rem solid $light;
        font-size: 1.75rem;
        font-family: $ff-sub;
        border-radius: 10px;
        font-weight: 600;
      }
      a:hover {
        text-decoration: none;
        background: $primary;
        color:$white;
        border: 0.25rem solid $primary;
        font-size: 1.75rem;
        font-family: $ff-sub;
        border-radius: 10px;
        font-weight: 600;
      }
    }
    .profiles {
      a {
        margin-left: 0.75rem;
        background: $light;
        color: $white;
        border: 0.25rem solid $light;
        font-size: 1.75rem;
        font-family: $ff-sub;
        border-radius: 10px;
        font-weight: 600;      }
      a:hover {
        text-decoration: none;
        background: $primary;
        color:$white;
        border: 0.25rem solid $primary;
        font-size: 1.75rem;
        font-family: $ff-sub;
        border-radius: 10px;
        font-weight: 600;      }
    }
  }
  #summary {
    float: right;
    p {
      font-size: 2rem;
    }
  }
  #work {
    clear: both;
    .col {
      margin-left: 5%;
      margin-right: 5%;
      width: 40%;
    }
    .col:nth-child(even) {
      float: right;
    }
    .work-name {
      background: $light;
      font-family: $ff-title;
      color: $white;
      margin-bottom: 0;
      font-size: 3rem;
    }
    .work-position {
      background: $light;
      font-family: $ff-title;
      color: $white;
      font-size: 3rem;
      margin-top: 0;
      border-bottom: 0.5rem solid $primary;
    }
    .work-date {
      text-align: center;
      font-family: $ff-sub;
      font-size: 2rem;
      p {
        font-size: 1.75rem;
        text-align: left;
      }
    }

    .work-website {
      a {
        margin-left: 0.75rem;
        background: $light;
        color: $white;
        border: 0.25rem solid $light;
        font-size: 1.75rem;
        font-family: $ff-sub;
        border-radius: 10px;
        font-weight: 600;      }        margin-left: 5%;
      }
      a:hover {
        text-decoration: none;
        background: $primary;
        color:$white;
        border: 0.25rem solid $primary;
        font-size: 1.75rem;
        font-family: $ff-sub;
        border-radius: 10px;
        font-weight: 600;      }      }
    }

  #education {
    clear: both;
    .col {
      margin-left: 5%;
      margin-right: 5%;
      width: 40%;
    }
    .col:nth-child(even) {
      float: right;
    }
    .institution {
      background: $light;
      font-family: $ff-title;
      color: $white;
      margin-bottom: 0;
      font-size: 3rem;
      border-bottom: $primary solid 0.5rem;
    }
    .study-date {
      text-align: center;
      font-family: $ff-sub;
      font-size: 2rem;
    }
    .gpa {
      color: $white;
      background: $primary;
      font-size: 1.75rem;
      width: 25%;
      margin-left: 5%;
      font-family: $ff-title;
    }
  }
  #skills {
    clear: both;
    .col {
      margin-left: 5%;
      margin-right: 5%;
      width: 40%;
    }
    .col:nth-child(even) {
      float: right;
    }
    .category {
      margin-top: 5%;
      padding: 1%;
      background: $light;
      font-family: $ff-title;
      color: $white;
      margin-bottom: 1rem;
      font-size: 3rem;
      border-bottom: $primary solid 0.5rem;
    }
  }
  #misc {
    clear: both;
    justify-content: center;
    align-content: center;
    #languages {
      padding-right: 2%;
      .languages {
        list-style: none;
        text-align: center;

        .language {
          background: $primary;
          color: $white;
          font-size: 3rem;
          font-weight: 900;
          font-family: $ff-title;
        }

        .level {
          background: $light;
          color: $white;
          font-size: 3rem;
          font-weight: 900;
          font-family: $ff-title;
        }
      }
    }
    #references {
      .people {
        list-style: none;
        text-align: center;

        .name {
          background: $primary;
          color: $white;
          font-size: 3rem;
          font-weight: 900;
          font-family: $ff-title;
        }
        .phone {
          background: $light;

          font-family: $ff-title;
          .reference {
            color: $white !important;
            font-size: 3rem;
            font-weight: 900;
          }
        }
      }
    }
  }

