@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dimitri";
    src: url("/fonts/dimitri.woff") format("woff");
  }

  .menu-items {
    @apply absolute mt-2 w-[calc(100vw-1rem)] divide-y divide-primary-100 rounded-md border border-primary-100 bg-white bg-opacity-50  shadow-lg filter backdrop-blur-sm backdrop-filter focus:outline-none dark:divide-primary-500 dark:border-primary-500 dark:bg-primary-900 dark:bg-opacity-50 sm:w-56;
  }

  .nav-divider {
    @apply mt-2 border-primary-100 pb-2 dark:border-primary-500;
  }

  .post-link {
    @apply default-transition default-focus flex transform cursor-pointer flex-col overflow-hidden rounded-2xl border-2 border-primary-100 bg-white bg-opacity-75 backdrop-blur-sm backdrop-filter hover:shadow-xl motion-safe:hover:-translate-y-1 dark:border-primary-400 dark:bg-primary-900 dark:bg-opacity-75;
  }

  .banner-container {
    @apply relative my-auto flex w-full max-w-4xl justify-center overflow-hidden rounded-t-lg;
  }

  .banner-post {
    @apply h-full w-full bg-primary-200 motion-safe:animate-pulse dark:bg-primary-600 lg:h-48;
  }

  .banner-image {
    @apply absolute left-0 top-0 h-48 w-full select-none object-cover;
  }
  .btn-icon {
    @apply dark:(bg-primary-900 hover:bg-primary-900) default-transition default-focus hover:-rotate-22 relative inline-flex rotate-0 transform items-center rounded-lg border-t-2 border-l-2 border-b-4 border-r-4 hover:border-2 border-black bg-[#CCAAFF]  shadow-md shadow-black px-3 py-2 text-sm font-medium text-primary-600 filter backdrop-blur-sm backdrop-filter transition-transform ease-linear dark:border-primary-300 dark:bg-opacity-10 dark:text-white hover:bg-[#C0A0F8];
  }
  .btn-outline{
    @apply text-black rounded-md border-black border-l-2 border-t-2 border-b-4 border-r-4 hover:border-r-2 hover:border-b-2 p-2.5 bg-[#A6FAFF] hover:bg-[#79F7FF] hover:shadow-black shadow-md active:bg-[#00E1EF] font-black uppercase flex flex-row align-middle items-center dark:border-white dark:text-white dark:bg-primary-800 dark:hover:bg-primary-600;
  }
  .pill-standard {
    @apply default-transition default-focus inline-flex rounded-2xl border-2 border-primary-700 bg-white bg-opacity-20 px-4 py-4 filter backdrop-blur-sm backdrop-filter dark:border-primary-300 dark:bg-primary-900 dark:bg-opacity-20 dark:text-white lg:px-8 xl:px-8;
  }
}
html,
body {
  --grid-color: #000;
  --grid-weight: 1px;
  --grid-spacing: 24px;

  min-height: 100vh !important;
  background-position:
    center center,
    center center;
  background-size:
    var(--grid-spacing) var(--grid-spacing),
    var(--grid-spacing) var(--grid-spacing) !important;
  background-image: repeating-linear-gradient(
      0deg,
      var(--grid-color),
      var(--grid-color) var(--grid-weight),
      transparent var(--grid-weight),
      transparent var(--grid-spacing)
    ),
    repeating-linear-gradient(
      -90deg,
      var(--grid-color),
      var(--grid-color) var(--grid-weight),
      transparent var(--grid-weight),
      transparent var(--grid-spacing)
    ) !important;
}

.index-title {
  font-family: "Dimitri", sans;
  color: #ffffff;
  text-shadow:
    1px 1px 1px #2d2d2d,
    1px 2px 1px #2d2d2d,
    1px 3px 1px #2d2d2d,
    1px 4px 1px #575757,
    1px 5px 1px #575757,
    1px 6px 1px #575757,
    1px 7px 1px #575757,
    1px 8px 1px #575757,
    1px 9px 1px #6d6d6d,
    1px 10px 1px #6d6d6d,
    1px 18px 6px rgba(16, 16, 16, 0.1),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  -webkit-text-stroke: 1px #00000088;
  text-stroke: 1px #00000088;
}

.project-title,
.post-title,
.blog-title {
  font-family: "Dimitri", sans;
}

#nprogress .bar {
  height: 0.5rem;
  background-color: #4d4d4d !important;
  color: #d5d5d5 !important;
}
