.footer {
  opacity: 0;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  display: flex;
  border: 0.25rem var(--primary-color) solid;
  background: var(--bg-color);
  align-items: center;
  justify-content: space-between;
  flex: none; // prevents shrinkage http://bit.ly/1Mn35US for details
  a {
    @include link-states(--heading-color, --primary-color);
  }
  @include sm {
    flex-direction: column-reverse;
  }
  transition: opacity 1s ease-in;
  &__show {
    opacity: 1;
  }
}
