.header {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.25rem var(--primary-color) solid;
  background: var(--bg-color);

  @include lg {
    height: 16%;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;

    @include sm-md {
      min-width: 10%;
    }
  }
  button {
    font-family: "Kanit", sans-serif;
    border: none;
    border-radius: 18px;
    background: inherit;
    .logo {
      max-height: 7rem;
      max-width: 7rem;
      justify-self: center;
      align-self: center;
      padding: 0;
      margin: 0;
      border: 0.25rem var(--primary-color) solid;

      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
      border-radius: 18px;

      &:hover {
        @include animate(pulse, 0.5s, 20);
      }
    }
  }
}

.theme-switch-container {
  display: inline-block;
}

.theme-switch input {
  display: none;
}

.lightbulb {
  border-radius: 18px;

  svg {
    border: 0.25rem var(--primary-color) solid;

    min-height: 7rem;
    min-width: 7rem;
    border-radius: 18px;
    padding: 1rem;
    margin-right: 3rem;
    &:hover {
      @include animate(pulse, 0.5s, 20);
    }
    @include lg {
      margin-right: 7rem;
    }
    @include sm {
      transform: scale(0.7);
    }
  }
}

.nav-links {
  @include lg {
    display: none;
  }
}

// hamburger menu on tablet/mobile
.hamburger {
  display: none;
  &__checkbox {
    display: none;
  }
  &__button {
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    border-radius: 18px;
    text-align: center;
    cursor: pointer;
    z-index: 35;
    border: 0.25rem var(--primary-color) solid;
    background-color: var(--bg-color);
    &:hover {
      @include animate(pulse, 0.5s, 20);
    }
  }

  &__background {
    width: 100vw;
    height: 50vh;
    border-radius: 50%;
    position: relative;
    overflow: no-display;
    z-index: 20;
    top: 0;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    transition: transform 0.8s cubic-bezier(0.89, 1, 0.7, 1);
  }

  &__nav {
    height: 100vh;
    top: 0;

    left: 0;
    z-index: 25;
    // hides it until check box clicked
    pointer-events: none;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    @include absoluteCentre;
    z-index: 25;

    width: 100%;
    text-align: center;
    @include landscape {
      height: 100vh;
      overflow: scroll;
    }
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    border-radius: 18px;
    color: var(--heading-color);
    text-shadow: var(--gray-color) 0.125rem 0.125rem;
    font-size: 3rem;
    &:link,
    &:visited {
      display: inline-block;
      font-weight: 900;
      font-family: "Bungee", "Kanit", sans-serif;

      padding: 1rem 5rem;
      text-transform: uppercase;
      background-image: linear-gradient(
        90deg,
        transparent 0%,
        transparent 50%,
        rgba(255, 255, 255, 0.9) 50%
      );
      background-size: 220%;
      transition: all 0.6s;
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
      @include sm {
        font-size: 3rem;
      }
      @include landscape {
        font-size: 3rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      transform: translateX(1rem);
      color: var(--primary-color);
    }
    &.selected {
      background-color: var(--primary-color);
      color: var(--white-color);
      transform: translateX(1rem);
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  // functionality
  &__checkbox:checked {
    display: relative;
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    // makes visible
    pointer-events: auto;
    opacity: 1;
    width: 100%;
  }
  &__checkbox:checked ~ &__button {
    box-shadow: 0px 3px 15px rgba(83, 99, 144, 0.2);
  }

  // hamburger icon
  &__icon {
    position: relative;
    margin-top: 1rem;

    width: 3rem;
    &::before {
      width: 2rem;
    }
    &::after {
      width: 1rem;
    }
    &,
    &::before,
    &::after {
      height: 4px;
      background-color: var(--primary-color);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__text {
    color: var(--primary-color);
    text-shadow: var(--gray-color) 0.125rem 0.125rem;
    font-size: 1.7rem;
    font-family: "Bungee", "Kanit", sans-serif;
    font-weight: 900;
    display: inline-block;
    margin-top: 0.5rem;
  }

  &__button:hover &__icon::before {
    width: 1rem;
  }
  &__button:hover &__icon {
    width: 3rem;
  }

  &__button:hover &__icon::after {
    width: 2rem;
  }

  @include lg {
    display: inline-block;
  }
}

@include sm-md {
  .hamburger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .lightbulb {
    margin-top: 0.5rem;
    margin-right: 5rem;
    transform: scale(0.7);
  }
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gray-light {
  background-color: var(--bg-color);
}
