@import "./_variables.scss";
@import "./_device.scss";
@mixin generate-grid() {
  @for $i from 2 through 6 {
    $width: ((100% - ($gutter * $i)) / $i) - $gutter;
    .grid-#{$i} {
      .col {
        width: $width * $i + ($gutter * $i * 2) - $gutter * 2;

        @media (min-width: $mobile-breakpoint) {
          width: 100% / 2 - $gutter * 2;
        }

        @media (min-width: $tablet-breakpoint) {
          width: $width;
        }

        &--full {
          width: 100% - $gutter * 2;
        }
      }

      &.v-align {
        align-self: center;
      }

      &.fill-height {
        flex: 1;
      }

      &.colored {
        background-color: papayawhip;
      }

      &.padding {
        margin-left: initial;
        margin-right: initial;
        padding: 2rem;
      }
    }

    // Grid modifiers
    &.no--margin {
      margin: 0 auto;
    }

  }
  }
