/**************************************
* Typography
*
*
* Sets font related variables and styles font related tags
**************************************/


h1,
h2 {
  font-family: $ff-title;
  color: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: $style-font;
}
p,
li,
ul,
blockquote {
  background: $white;
  font-family: $font-alt1 !important;
}
